.App {
  text-align: center;
}



.Question {
  display: flex;
  flex-direction: column;
  padding: 350px;
  background-image: url(https://images.unsplash.com/photo-1461083542063-9873020926b4?ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80);
  background-size:100% 100%;
  font-family: fantasy;
  font-size: 30px;
}

.Choice {
 display:flex;
 justify-content: space-around;
}

.button {
  color: #494949 ;
  text-transform: uppercase;
  background: white ;
  padding: 10px;
  border: 2px solid  rgb(153, 211, 238);
  transition: all 0.4s ease 0s;
  border-radius: 0px;
  }

  .button:hover {
    color: #ffffff ;
    background: #B5E2FA;
    border-color: #B5E2FA ;
    transition: all 0.4s ease 0s;
    }
